name: ML2P CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Pip install
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox lint
        run: |
          tox -e lint
      - name: Run tox tests
        run: |
          tox -e py
